#pragma once

// Copy this file to arduino_secrets.h and provide your own values.
//
// The mule is too stubborn to travel unless you whisper
// sweet credentials into its ear.

// WeatherMule
#define WeatherMule_Name "<Name that ciriter>"

// WiFi
#define SECRET_SSID "<SSID here>"
#define SECRET_PASS "<WiFi password here>"

// PackStationWeather keys (ROTATE THESE after posting them publicly)
#define PackStationWeather_Host "<API Host Url>"
#define PackStationWeather_Port 0000
#define PackStationWeather_API_KEY "<API key here>"
#define PackStationWeather_API_Checkin "/api/checkin"
#define PackStationWeather_API_Unload "/api/upload"

